@charset "EUC-KR";

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

section {
	width: 100%;
	height: 100vh;
	background: rgba(13,162,213, .1);
	background-size: cover;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	width: 800px;
	text-align: center;
	
}

.login-form {
	position: relative;
	box-sizing: border-box;
	padding: 50px 10px;
	transition: .5s;
}
.login-form:hover {
	background: rgba(255,255,255,.1);
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.login-form h1 {
	margin: 0 0 20px;
	color: gray;
	font-size: 30px;
	font-weight: bold;	
}

.login-form input{
	display: block;
	width: 100%;
	border-radius:25px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
	letter-spacing: 1px;
	color: black;
	text-transform: uppercase;
	border: none;
	background: rgba(13,162,213, .1);
}
.login-form input[type="text"]{
	text-transform: none;
}
.login-form input[type="password"]{
	text-transform: none;
}

.login-form input[type="submit"]{
	background: #fab1a0;
	font-size: 16px;
	border: none;
	cursor: pointer;
	color: gray;
	font-weight: bold;		
}

.login-form input[type="submit"]:hover{
	background: #45aaf2;
}

.login-form input[type="button"]
{
background: #fab1a0;
	font-size: 16px;
	border: none;
	cursor: pointer;
	color: gray;
	font-weight: bold;	
	
}

.login-form button:hover{
	background: #45aaf2;
}


.login-form a{
	text-decoration: none;
	color: gray;
	text-transform: uppercase;
}

.login-form textarea 
{
	width: 100%;
  border: none;
  background: none;
  outline: none;
  margin-top: 6px;
  text-align: left;
  margin-top: 6px;
  font-size: 18px;
  background: rgba(13,162,213, .1);
  text-transform : translate(-50%, -50%);
  font-family: "Montserrat",sans-serif;
}

.login-form table{
	display: block;
	border: none;
	background: rgba(13,162,213, .1);
}

.login-form td
{
	
	width: 10%;
	margin: 0 0 5px;
	color: gray;
	text-align: center;
	border: none;
	outline: none;
}

.login-form tr
{
	display: block;
	width: 100%;
	margin: 0 0 5px;
	text-align: center;
	color: gray;
	font-size: 15px;
	font-weight: bold;
}

.clouds 
{
	background: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

