@charset "EUC-KR";
body,html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url("../img/sblack.jpg");
	background-size: cover;
}
	
.text{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-transform: lowercase;
	color: gray;
}
.text:before {
	content: 'yourdiary.';
	color: #007255;
	position: absolute;
	width: 0;
	overflow: hidden;
	transition: 0.9s;
}
.text:hover:before {
	width: 100%;
}

.btnL{
	display:run-in;
	padding: 2px 10px;
	color:#dfe4ea;
	position: absolute;
	top: 66%;
	left: 35%;
	font: sans-serif;
	font-size: 23px;
	text-decoration: none;;
}
.btnC {	
	padding: 2px 10px;
	color:#dfe4ea;
	position: absolute;
	top: 66%;
	left: 40%;
	font: sans-serif;
	font-size: 23px;
	text-decoration: none;;
}
.btnJ{	
	padding: 2px 10px;
	color:#dfe4ea;
	position: absolute;
	top: 66%;
	left: 47%;
	font: sans-serif;
	font-size: 23px;
	text-decoration: none;;
}	
.btnLG {	
	padding: 2px 10px;
	color:#dfe4ea;
	position: absolute;
	top: 66%;
	left: 53.8%;
	font: sans-serif;
	font-size: 23px;
	text-decoration: none;;
}